.main {
  width: 550px;
  height: 720px;
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  border-top: none;
  border-radius: 10px;
  margin-bottom: 30px;
}

.select {
  display: flex;
  justify-content: center;
  height: 70px;
  border-radius: 10px;
}

.btn_shopper {
  width: 275px;
  height: 70px;
  background: #ffffff;
  border: none;
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
}

.btn_seller {
  width: 275px;
  height: 70px;
  background: #f2f2f2;
  border: none;
  border-top: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
}

.form {
  padding: 40px 35px;
}

label {
  font-size: 16px;
  line-height: 20px;
  color: #767676;
  margin-bottom: 10px;
}

.id_check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label .label_pos {
  position: absolute;
  top: -25px;
}

.label .input_id {
  width: 346px;
  height: 56px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 16px;
  outline: none;
  font-size: 16px;
}

.id_check button {
  width: 122px;
  height: 54px;
  background: #21bf48;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
}

.password,
.check_password,
.name,
.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
  position: relative;
}

.phone {
  margin-bottom: 0px;
}

.label .input_password,
.label .check_input_password,
.label .name_input {
  width: 480px;
  height: 54px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 16px;
  font-size: 16px;
}

.password img {
  position: absolute;
  top: 50%;
  right: 16px;
}

.check_password img {
  position: absolute;
  top: 50%;
  right: 16px;
}

.phone {
  width: 480px;
}

.phone input {
  width: 152px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  padding: 16px 56px;
  font-size: 16px;
  line-height: 20px;
}

.phone input:not(:last-child) {
  margin-right: 12px;
}

.terms {
  width: 480px;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  margin-bottom: 34px;
}

.terms input {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.terms span {
  font-size: 16px;
  line-height: 20px;
  color: #767676;
}

.signup {
  width: 480px;
  height: 60px;
  border-radius: 5px;
  margin: 0 auto;
  background: #c4c4c4;
}

.btn_signup {
  width: 480px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background: #c4c4c4;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
  cursor: initial;
}

.activate {
  background: #21bf48;
  cursor: pointer;
}

.err {
  font-size: 16px;
  line-height: 20px;
  color: #eb5757;
  margin-top: 10px;
  position: absolute;
  bottom: -30px;
  left: 0;
}
