.cart_product_list {
  width: 1280px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart_product_list input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 2px solid #21bf48;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
}

.cart_product_list input[type="checkbox"]:checked {
  background: #21bf48;
  border: none;
}

.cart_product_wrap {
  display: flex;
}

.cart_product_image {
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.cart_product_image img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.cart_product_info {
  margin-left: 36px;
}

.cart_product_info .seller_store {
  font-size: 14px;
  line-height: 18px;
  color: #767676;
  margin-bottom: 10px;
}

.cart_product_info .product_name {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 10px;
}

.cart_product_info .price {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 40px;
}

.cart_product_info .delivery {
  font-size: 14px;
  line-height: 18px;
  color: #767676;
}

.cart_product_count {
  position: relative;
  width: 150px;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 30px;
}

.cart_product_count .minus {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  cursor: pointer;
}

.cart_product_count .count {
  position: absolute;
  width: 56px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #c4c4c4;
}

.cart_product_count .count span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart_product_count .plus {
  position: absolute;
  width: 20px;
  height: 40px;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  cursor: pointer;
}

.cart_product_price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart_product_price .total_price {
  font-size: 18px;
  line-height: 23px;
  color: #eb5757;
  margin-bottom: 26px;
}

.cart_product_price .btn_submit {
  width: 130px;
  height: 40px;
  background: #21bf48;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
