.total {
  width: 1280px;
  height: 150px;
  background: #f2f2f2;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.total p,
.total div,
.total img {
  background: #f2f2f2;
}

.total_price .cart_product_total_price,
.sale .cart_product_sale,
.delivery .cart_product_delivery {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 12px;
}

.total_price .cart_product_price,
.sale .cart_product_sale_price,
.delivery .cart_product_delivery_price {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.pay_minus {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #ffffff !important;
}

.pay_minus img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
}

.pay_plus {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #ffffff !important;
}

.pay_plus img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
}

.payment .cart_prouct_payment {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  margin-bottom: 12px;
}

.payment .cart_prouct_payment_price {
  font-size: 36px;
  font-weight: bold;
  line-height: 45px;
  color: #eb5757;
}
