.banner {
  position: relative;
  width: 100%;
  height: 500px;
  background: #f2f2f2;
}

.right {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 56px;
  background: #f2f2f2;
}

.right img {
  background: #f2f2f2;
}

.left {
  position: absolute;
  top: 50%;
  left: 56px;
  transform: translateY(-50%);
  background: #f2f2f2;
}

.left img {
  background: #f2f2f2;
}
