.main {
  width: 550px;
  height: 388px;
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  border-top: none;
  border-radius: 10px;
  margin-bottom: 30px;
}

.select {
  display: flex;
  justify-content: center;
  height: 70px;
  border-radius: 10px;
}

.btn_shopper {
  width: 275px;
  height: 70px;
  background: #ffffff;
  border: none;
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000000;
}

.btn_seller {
  width: 275px;
  height: 70px;
  background: #f2f2f2;
  border: none;
  border-top: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000000;
}

.login_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 34px 35px;
  border-radius: 10px;
}

.user_id {
  width: 480px;
  height: 60px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 6px;
  outline: none;
}

.user_id:placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #767676;
}

.user_password {
  width: 480px;
  height: 60px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  outline: none;
}

.login {
  width: 480px;
  height: 60px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #21bf48;
}

.login .btn_login {
  width: 480px;
  height: 60px;
  border-radius: 5px;
  background-color: #21bf48;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
