.tab_title {
  margin: 0 auto;
  width: 1280px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background: #f2f2f2;
}

.tab_title span {
  background: #f2f2f2;
}
