.product_wrapper {
  width: 1280px;
  height: 130px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 60px;
}

.product_wrap {
  display: flex;
}

.product_image {
  width: 104px;
  height: 104px;
  border-radius: 10px;
  padding: 0.5rem 0;
}

.product_image img {
  width: 104px;
  height: 104px;
  border-radius: 10px;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 36px;
}

.product_sale {
  width: 95px;
}

.shipping {
  width: 135px;
}

.total {
  width: 130px;
}
